@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Verlag", sans-serif;
  src: url("../public/fonts/Verlag-Font/VerlagCompressed-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Verlag', sans-serif;
}